@charset "UTF-8";
html, body, div, span, applet, object, iframe, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, label, legend, p, blockquote, table, caption, tbody, tfoot, thead, tr, th, td {
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 1em;
	font-family: inherit;
	vertical-align: baseline;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding-right: 0;
	padding-top: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
:focus {
	outline: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
abbr, acronym {
	border: 0;
}
body {
	background: #FFF;
	font-size: 18px;
	line-height: 18px;
	font-family: 'Georgia', times, serif;
	color: #555555;
}
/* ----- Typography ----- */	

p {
	font-family: 'Georgia', times, serif;
	color: #888888;
	font-size: 16px;
	line-height: 22px;
}
header a,footer a {
	color: #FFF;
	text-decoration: none;
	font-family: eb-garamond;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
}
a:hover {
	color: #f29ab1;
}
h1 {
	font-size: 42px;
	line-height: 42px;
}
h2 {
	font-size: 42px;
	line-height: 42px;
	color: #333;
	margin-bottom: 30px;
}
header {
	min-height: 90px;
	background: #c70638;
	padding-top: 40px;
	text-align: center;
	border-bottom: 4px solid #FFF;
	-webkit-box-shadow: 0 3px 3px #EEE;
	padding-bottom: 29px;
}
#logo {
	width: 73.6842%;
	clear: none;
	position: static;
	height: auto;
	margin-left: 5.2631%;
	font-style: normal;
	font-weight: 400;
	font-family: alfa-slab-one;
}
header nav a {
	width: 100%;
	padding: 10px 0;
	display: inline-block;
	border-bottom: 1px solid #e9537a;
}
nav a:hover {
 background: #d82150  padding:5px;
}
#content {
	margin-top: 56px;
}
/* Gallery */
.gallery {
	margin-bottom: 30px;
	-webkit-transition: 1s all ease;
}
.gallery li {
	margin-bottom: 20px;
	text-align: center;
}
/* Footer*/
footer {
	background: #0da3ae;
	padding: 50px 0;
	height: 100%;
	font-size: 14px;
	color: #FFF;
}
footer p {
	color: #FFF;
}
footer nav {
	float: right;
	text-align: center;
}
footer a {
	color: #9de7ec;
}
footer nav a {
	float: right;
	margin-right: 20px;
	font-style: normal;
	font-weight: 400;
	font-family: eb-garamond;
	text-transform: uppercase;
	font-size: 0.9em;
}
footer a:hover {
	color: #FFF;
}
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width: 100%;
}
/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}
.fluidList {
	list-style: none;
	list-style-image: none;
	padding: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: 0;
}
/* Mobile Layout: 480px and below. */
  
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	/*Commenting out default Fluid Grid Behavior for design to stretch end to end in the viewport*/
	/*padding-left: 2.5%;
	padding-right: 2.5%;*/
	clear: none;
	float: none;
}
#menu {
	height: 40px;
	display: block;
	width: 21.0526%;
	margin-left: 0;
	background-image: url(images/menu-btn.jpg);
	background-repeat: no-repeat;
	background-position: 93% 0%;
}
#nav {
	display: none;
}
#logo a {
	font-style: italic;
	font-weight: 400;
	font-family: arapey;
	font-size: 1.3em;
}
#header {
}
.threecol {
	width: 100%;
	clear: both;
	margin-left: 0;
}
.fourcol {
	width: 100%;
	clear: both;
	margin-left: 0;
	display: block;
}
.sixcol {
	width: 100%;
	clear: both;
	margin-left: 0;
}
#footer {
}
.adobe {
	width: 100%;
	margin-left: 0;
	/* [disabled]padding-left: 7px; */
}
.footernav {
	width: 100%;
	margin-left: 0;
	clear: both;
	margin-top: 20px;
}
.zeroMargin_mobile {
	margin-left: 0;
}
.hide_mobile {
	display: none;
}
/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 100%;
	/*Commenting out default Fluid Grid Behavior for design to stretch end to end in the viewport*/
/*	padding-left: 1.25%;
	padding-right: 1.25%;*/
	clear: none;
	float: none;
	margin-left: auto;
}
#nav {
	display: block;
	margin-top: 20px;
}
header nav a {
	color: #ffd6e1;
	font-size: 13px;
	margin-right: 20px;
	text-transform: uppercase;
	display: inline;
	border-bottom: 0px solid #e9537a;
}
nav a.selected, nav a:hover {
	color: #FFF;
}
#header {
}
#menu {
	display: none;
	width: 100%;
	height: auto;
	margin-left: 0;
}
#logo {
	width: 100%;
	clear: both;
	margin-left: 0;
	position: static;
	height: auto;
}
#nav {
}
#content {
}
.threecol {
	width: 23.0769%;
	clear: none;
	margin-left: 2.5641%;
}
.fourcol {
	width: 48.7179%;
	clear: none;
	margin-left: 2.5641%;
}
.sixcol {
	width: 100%;
	clear: both;
	margin-left: 0;
	text-align: center;
}
#footer {
	/* [disabled]text-align: center;
*/
}
.adobe {
	width: 35.8974%;
	margin-left: 0;
}
.footernav {
	width: 61.5384%;
	margin-left: 2.5641%;
	clear: none;
	margin-top: 0px;
}
.hide_tablet {
	display: none;
}
.zeroMargin_tablet {
	margin-left: 0;
}
}
/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 100%;
	/*Commenting out default Fluid Grid Behavior for design to stretch end to end in the viewport*/
/*	max-width: 1232px;
padding-left: 0.8333%;
	padding-right: 0.8333%;*/
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}
#header {
	position: static;
}
#menu {
	display: none;
	width: 100%;
	position: static;
	height: auto;
	margin-left: 0;
}
#logo {
	width: 100%;
	clear: both;
	margin-left: 0;
	position: static;
	height: auto;
	font-style: normal;
	font-weight: 400;
	font-family: aguafina-script;
}
#nav {
	display: block;
	margin-top: 0px;
}
#content {
}
.threecol {
	width: 23.7288%;
	margin-left: 1.6949%;
	clear: none;
}
.fourcol {
	width: 32.2033%;
	margin-left: 1.6949%;
	clear: none;
	display: block;
}
.sixcol {
	width: 49.1525%;
	margin-left: 1.6949%;
	clear: none;
}
#footer {
}
.adobe {
	width: 49.1525%;
	margin-left: 0;
}
.footernav {
	width: 49.1525%;
	margin-left: 1.6949%;
	clear: none;
}
.zeroMargin_desktop {
	margin-left: 0;
}
.hide_desktop {
	display: none;
}
.adobe span {
	margin-left: 20px;
}
}
